.movie-card{
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,.15);
  transition:.3s;
}

.movie-card:hover{
  transform:scale(1.05);
}

.movie-img{
  width:100%;
}

.movie-title{
  padding:10px;
  text-align:center;
}

a{
    text-decoration: none;
}

h2 {
    color: black;
}