/* Prueba visual para verificar que funcione correctamente el estilo de App */
/* integrante 3 debe modificar */

.title {
    text-align: center;
    font-size: 3rem;
}
body{
  margin:0;
  background:#121212;
  color:white;
  font-family:Arial;
}

@media(max-width:768px){
  .title{
    font-size:5rem;
  }
}

@media(max-width:480px){
  .title{
    font-size:5rem;
  }
}

.main-footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid #444;
    background: #1a1a1a; /* Un color oscuro para que contraste con el rosa */
    color: white;
}